#elm-audioplayer .player {
  border-top: solid;
  bottom: 0;
  height: 60px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#elm-audioplayer .controls {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-around;
}

#elm-audioplayer .play {
}

#elm-audioplayer .pause {
}

#elm-audioplayer .timeline {
  background: rgba(0, 0, 0, .3);
  flex-basis: 60%;
  height: 10px;
  position: relative;
}

#elm-audioplayer .playhead {
  background: #000;
  left: 0;
  height: 18px;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  width: 8px;
}
