#elm-audioplayer .player {
  background: #f9f9f9;
  border-top: 3px solid #666;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#elm-audioplayer .controls {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-around;
}

#elm-audioplayer .play,
#elm-audioplayer .pause {
  margin: 0 10px 0 20px;
}

#elm-audioplayer .playback {
  margin: 0 10px;
}

#elm-audioplayer .timeline {
  background: #ddd;
  flex-grow: 1;
  height: 10px;
  margin: 0 10px;
  position: relative;
}

#elm-audioplayer .playhead {
  background: #000;
  height: 18px;
  left: 0;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  width: 8px;
}

#elm-audioplayer .time {
  margin: 0 20px 0 10px;
}
